<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ICWR.Site" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Listing | Home :: <%= ICWR.Models.CompanyTask.CompanyName %></title>
   
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

       <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
</body>
</html>
